body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    overflow: hidden;
    text-align: center;
}
section{  
    background-color: rgba(243, 243, 243, 0.411);
    width: 500px;
    border: solid ;
    border-radius: 5px;
}
footer{
    font-style: italic;
}
div#msg{
    position: relative;
    left: 18.5%;
    background-color: rgba(250, 248, 245, 0.459);
    width: 300px;
    border-radius: 3px;
    border: 1px solid black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.575);
}
img#imagem{
    margin-top: 20px;
    width: 300px;
    height: 250px;
    border-radius: 100%;
    border: 1px solid black;
    box-shadow: 3px 3px 5px;
}